h1,h2,h2,p,a,ul,li{margin: 0;padding: 0;text-decoration: none;}
html, body { margin: 0;font-family: 'Roboto', sans-serif;font-size: 0.9em;background-color: #f5f5f5;}
header{
    background-color: #ff9a00;
    margin: 0;    
}

.conteneur{
    max-width: 1170px;
    margin: 0 auto;
    border: 1px dotted;
}

.haut-image{
    height: 47px; 
   background-image: url(../Img/headerimg.jpg);  
}


nav{
    
    text-align: center;
    margin: 0;
    padding: .01em 0 .01em 0;
}
.nave{padding: .1em 0 .1em 0;}
.nave_gauche{
    float: left;
    width: 20%;
    color: #f68b1e;
    font-size: 1em;
    font-weight: 500;
    align-items: center;
}

.nave_droite{float: left;width: 80%;color: transparent;}
nav li{
    display: inline;
    list-style: none;    
}

nav a{
    display: inline-block;
    line-height: 30px;
    padding: 0.5%;
    text-decoration: none;
    
}

.nave_gauche a:hover{
    text-decoration: underline;   
}


.food  a{
    color: #f68b1e;
    transition: padding .2s;
    font-weight: bold;
}
.deals, .logistics{color: #c0c0c0; font-size: 1em; font-weight: bold;font-family: antialiased; direction: ltr;}
.deals:hover{
    color:blue ;
}

.logistics:hover{
    color:#f68b1e;
}



footer{ 
    
    margin: 2em 0 2em 0; 
}
footer img{
    height: 110px;
    margin: 0 auto;
}
.pied_page{
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    overflow: auto;
    white-space: nowrap;
    border-radius: .4em;
}
.img_f10{
    display: none;
}

.back, .next{
    background-color: transparent;
    border: none;
    max-height: 50px;
    margin: auto 0;
}
.back:hover, .next:hover{
    cursor: pointer;
}

.clear{
        clear: both;
    }


.milieu-haut{background-color: white;box-shadow: 0 4px 8px 0 rgb(0 0 0 / 30%); }

.milieu-haut-gauche{
    float: left;
    width: 10%;
    margin: 1em 0 1em 0;
}
.milieu-haut-gauche img{max-width: 100%;}
.milieu-haut-gauche a{
    
    font-size: 3em;
    color: #000;
}

.milieu-haut-centre{
    float: left;
    width: 55%;
   
}

.recherche{
    padding-left: 15%;
    margin: 1.5em 0 1.5em 0;
}


.recherche input{
    width: 70%;
    border: 1px solid #c0c0c0;
    border-radius: .2em;
    padding: .5em 1em;
    border-radius: .2em;
    font-size: 1rem;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 30%);
}

.recherche button{
    background-color: #f68b1e;
    color: #ffff;
    padding: .5em 1em;
    border: 0px;
    border-radius: .2em;
    font-size: 1rem;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 30%);
}
.recherche button:hover{background-color: #f39b43;}
.milieu-haut-droite{
    float: left;
    width: 35%;
    padding: 1em 0 1em 0;
   font-size: 1.3rem;
}





.Se_connecter{
    float: left;
    padding: .5em .1em;
    font-size: 1.3rem;
}

 select{
    border-style: none;
    background-color: transparent;
    border-width: 0px;
}

.aide{
    float: left; 
    margin-left: 2%;
   padding: .5em .1em;
   font-weight: 400;
}

.panier{
    float: left;
    margin-left: 2%;
    padding: .5em .1em;
    font-weight: 400;
}

.milieu-centre{
        margin-top: 2%; 
    }

.milieu-centre-gauche{
    float: left;
    width: 17%;
    margin: 0 1.5em 0 0 ;
    background-color: white;
    border-radius: .55em;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 30%);
}


.categories li{list-style: none; margin: .4em 0  1.5em .5em;}
.milieu-centre-milieu{
    float: left;
    width: 60%;
    
}   

.slide{
    position: relative;
}

.slide img{
    border-radius: .4em;
    max-width: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity .5s;
}

.slide img.active{
    opacity: 1;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 30%);
}

.suivant, .precedent{
    color: black;
    font-size: 3rem;
    position: absolute;
}
.suivant{
    right: 25rem;
}
.precedent{
    left: 25rem;
}

.milieu-centre-droite{
    float: right;
    width: 17%;
    margin: 0 1.5em 0 0 ;
    
    
}
.cadre1{
    min-width: 100%;
    border-radius: .4em;
    background-color: white;
    margin: 0 0 1.5em 0;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 30%);
   /* border: 1px dotted;*/
}
.cadre1 .service{
    padding: 1em 0  1.5em 1em;
  }

.cadre2 img{border-radius: .4em; 
    max-width: 100%; margin-top: .98em;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 30%);
}

@media (max-width:768px){
    .haut-gauche{width: 100%; margin-bottom: 1em;}
    .haut-droite{display:none;}
    nav a{display: block;}
    .milieu-gauche{width: 100%;}
    .milieu-droite{width: 100%;}
    .milieu-droite .cadre{width: 100%;}
}

